<%- include ('partials/header.ejs') %>

<%- include ('partials/leftMenu.ejs') %>

<section class="col-lg-9">

  <div class="row">
    <% for(let figurine of figurineList) { %>
    <article class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="/article/<%=figurine.ID%>">
          <img class="card-img-top" src="/images/<%=figurine.NAME.toLowerCase()%>.png" alt="figurine de <%=figurine.NAME%>">
          <h3 class="badge-category badge badge-pill badge-<%=figurine.CATEGORY.toLowerCase()%>"><%=figurine.CATEGORY%></h3>
        </a>
        <div class="card-body">
          <h2 class="h4 card-title">
            <a href="/article/<%=figurine.ID%>"><%=figurine.NAME%></a>
          </h2>
          <div class="h5">$<%=figurine.PRICE%></div>
          <p class="card-text"><%=figurine.DESCRIPTION%></p>
        </div>
        <div class="card-footer">
          <span class="small text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          <a href="/cart/add/<%=figurine.ID%>" class="link-add-cart">+ Ajouter au panier</a>
        </div>
      </div>
    </article>
    <% } %>
  </div>
  <!-- /.row -->

</section>
<!-- /.col-lg-9 -->
<%- include ('partials/footer.ejs') %>